<html>
    <p><button onclick="location.href='/';">Login</button></p>
    <form action="/register" method="POST">
        <label>Username</label>
        <input type="text" name="username">
        <label>Password</label>
        <input type="text" name="password">
        <label>Nickname</label>
        <input type="text" name="nickname">        
        <label>First Name</label>
        <input type="text" name="firstname">        
        <label>Last Name</label>
        <input type="text" name="lastname">        
        <label>Email</label>
        <input type="text" name="email">
        <label>Date of Birth</label>
        <input type="date" name="dateofbirth">
        <label>Role</label>
        <select name="role">
            <option value="customer">Customer</option>
            <option value="admin">Admin</option>
        </select>
        <input type="submit">
        
    </form>
</html>