<html>
    <form action="/" method="GET">
        <label>Username</label>
        <input type="text" name="username">
        <label>Password</label>
        <input type="text" name="password">
        <label>Role</label>
        <input type="text" name="role">
        <input type="submit">
        
    </form>
</html>