<html>

        <button onclick="location.href='/logout';">Logout</button>
<%= message %>
<button onclick="location.href='/products';">List Produk</button>
<button onclick="location.href='/users';">List User</button>
<form>
    <label>Nama Produk</label>
    <label>Stok</label>
    <label>Gambar</label>
    <label>Harga</label>
    <label>Category</label>
</form>

</html>