<html>

        <button onclick="location.href='/logout';">Logout</button>
<%= message %>

<form>
    <label>Nama Produk</label>
    <label>Stok</label>
    <label>Gambar</label>
    <label>Harga</label>
    <label>Category</label>
</form>

</html>