<html>
        <% result.forEach(element => { %>
            <div>
                <h1>Tanggal <%= element.transactionDate %></h1>
                <p>Total Price: <%= element.transactionDate %></p>
                <p>Total Barang: <%= element.totalStock %></p>
            </div>
        <% }); %>
</html>