<html>
        <% result.forEach(element => { %>
            <div>
                <h1>Tanggal <%= dateFormat(element.transactionDate) %></h1>
                <p>Total Price: <%= element.totalPrice %></p>
                <p>Total Barang: <%= element.totalStock %></p>
            </div>
        <% }); %>
</html>